<h1>New Movie</h1>

<%= form_with(model: @movie, url: movies_path) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :director %>
    <%= form.text_field :director %>
  </div>

  <%= form.submit "Create Movie" %>
<% end %>

<h1> Import batch movies </h1>

<%= form_with(url: movies_import_csv_path, local: true, multipart: true) do |form| %>
  <div>
    <%= form.label :file, 'Upload batch movies: ' %>
    <%= form.file_field :file %>
  </div>

  <div>
    <%= form.submit 'Upload CSV File' %>
  </div>
<% end %>
